@import "reset.css";

/* comopnents */
@import "components/status-bar.css";

/* screen */
@import "screen/playmusic.css";
@import "screen/playlist.css";

body {
  height: 100vh;
  background-color: rgba(169, 169, 169, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
