.icon-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: -10px;
  margin: 0px 10px;
}
.icon-row__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-row__icon:nth-child(2) {
  text-align: center;
  position: relative;
}

.icon-row__icon i {
  margin: 20px 0px;
}
.icon-row__icon i:hover {
  color: aqua;
}
.icon-row__icon span {
  margin-bottom: 25px;
}
